.icon{
    cursor: pointer;
    margin: 20px;
    position: relative;
    text-decoration: none;
    list-style: none;
}
.icon i{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon .tooltip{
    position: relative;
    top: 0%;
    left: 100%;
    transform:translate(-50%);
    padding: 10px 10px;
    color: black;
    font-size:  20px;
    font-weight: bold;
    opacity: 0; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    pointer-events: none;
}
.icon .tooltip:before{
    position: absolute;
    height: 15px;
    width: 35px;
    color: black;
}
.tooltip,.icon i{
    transition: 0.2s;
}
.icon:hover{
    color: #fff;
}
.icon:hover .tooltip{
    opacity: 1;
    pointer-events: auto;
    top: -40px;
    left: 70px;
}